{% extends "base.html" %}

{% block app_content %}
<div class="container">
  <h1>About Forgotten Science</h1>
  
  <p>This website is intended to be a loose heap of notes from my studies and
  explorations in the history of science. I became interested in the history of science while I was teaching
  science to school children. I found it intriguing that many questions that
  children asked were very similar to those that early scientists struggled
  to make sense of, a few hundred years ago.</p>
  
  <p>I am generally interested in all aspects of the history of science - social,
  technological, and cultural - but given my background, I have an
  especially keen interest in the use of history of science to teach and learn science in
  a better way.</p>
  
  <p>There seem to be two broad ways in which history of science can help in
  science education, as I see it. First, studying the development of an idea
  invariably helps you to understand the currently accepted concept better.
  Second, the stories from the history of science reveal the complexity and
  chaotic nature of the scientific endeavour and bring students closer to
  the human side of science.</p>
  
  <p>I am not a historian of science,
  so it is possible that there may be some inaccuracy in the historical
  details. I will be happy to be corrected if any come to your notice.
  Please write to me if you would like to discuss any ideas further,
  point out errors, or collaborate in any way. I can be reached at
  kishore.athrasseri@gmail.com.</p>
  
  <p>~Kishore Athrasseri</p>
  <div>  
  <img src="/static/kishore.jpg" width="150">
  </div>  
</div>
{% endblock %}
