<html>
  <head>
    {% if title %}
    <title>{{ title }} - Forgotten Science</title>
    {% else %}
    <title>Forgotten Science</title>
    {% endif %}
  </head>
  <body>
    <div>
      Forgotten Science: 
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_authenticated and current_user.username ==
      'admin'%}
      <a href="{{ url_for('create_post') }}">New post</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %} 
    {% block content %}{% endblock %}
  </body>
</html>
