{% extends "base.html" %}

{% block app_content %}
  <h1>Edit Post</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }}<br>
      {{ form.title() }}<br>
      {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.post.label }}<br>
      {{ form.post(cols=64, rows=4) }}<br>
      {% for error in form.post.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
     </p>
     <p>
       {{ form.add_remove_parent.label }}<br>
       {{ form.add_remove_parent() }}<br>
       {% for error in form.add_remove_parent.errors %}
       <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
     </p>
     <p>
       {{ form.parent_slug.label }}<br>
       {{ form.parent_slug() }}<br>
       {% for error in form.parent_slug.errors %}
       <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
     </p>
     <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
