{% extends "base.html" %}

{% block app_content %} 
  <div class="container-fluid">
        <h2 style="text-align: center;">Learning science through history</h2>
        <p>History of science helps us develop a fuller and richer understanding of scientific knowledge. The stories of experiments, controversies and discarded theories from the past make us examine the knowledge that we take for granted today. This leads to a better appreciation of the reasons for accepting the validity of the current theories.</p>
        <p><strong>Forgotten science</strong> makes available material from the history of science in an easily accessible form. Here you will read about how scientists in the past tried to answer the questions you have while learning science. You will find out how to repeat some of the historical experiments with common materials and equipment lying around. There are also excerpts from old books and papers, and summaries of archaic scientific literature transcribed for a modern reader.</p>
      <hr>
      <div class="h2 text-center">Featured articles</div>
    <div class="row row-cols-3">
      {% for featured_type, featured_post in featured_info %}
      <div class="col-md-4 mt-3">
      <div class="card h-100">
        {% if featured_post.featured_img %}
        <img class="card-img-top" src="/static/{{ featured_post.featured_img }}" style="height: 30vh; object-fit: cover;">
        {% else %}
        <img class="card-img-top" src="/static/Hauksbee_Generator.jpg" style="height: 30vh; object-fit: cover;">
        {% endif %}
        <div class="card-body">
          {% if featured_post %}
          <h4 class="card-title">{{ featured_post.title }}</a></h4>
          {% autoescape off %}
          <p class="card-text">{{ featured_post.body|truncate(200) }} <a href="{{ url_for('view_post', post_slug=featured_post.slug) }}">Read</a></p>
          {% endautoescape %}
          <a href="{{ url_for('view_post', post_slug=featured_type.type) }}" class="btn btn-primary">{{ featured_type.display }}</a></h3>
          {% else %}
          <h3><a href="{{ url_for('view_post', post_slug=featured_type.type) }}">{{ featured_type.type }}</a></h3>
          {% endif %}
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
<hr>
CC 4.0 BY-SA
  
{% endblock %}
