{% extends "base.html" %}

{% block app_content %}
  <h1>Create new post</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.type.label }}<br>
      {{ form.type() }}<br>
      {% for error in form.type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.slug.label }}<br>
      {{ form.slug(cols=64, rows=4) }}<br>
      {% for error in form.slug.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
