{% extends "base.html" %}

{% block app_content %}
<div class="container">
  {% if post.title %}
  <h1>{{ post.title }}</h1>
  {% endif %}
  {% autoescape off %}
  {{ post.body }}
  {% endautoescape %}

  {% if current_user.is_authenticated and current_user.username == 'admin'
  %}
  <p><a href="{{ url_for('edit_post', post_slug=post.slug) }}">Edit post</a></p>
  <p>
  <form action="{{ url_for('delete_post', post_slug=post.slug) }}" method="post"
    onSubmit="return confirm('Are you sure you wish to delete?');"
  >
    {{ form.hidden_tag() }}
    {{ form.submit(value='Delete') }}
  </form>
  </p>
  {% endif %}

  <div class="container">
  {% if post.child_posts.all() %}
  <div class="card">
    <div class="card-header">
      {% if post.read_more_text %}
      {{ post.read_more_text }}
      {% else %}
      Read more
      {% endif %}
    </div>
    <ul class="list-group list-group-flush">
      {% for child_post in post.child_posts.all() %}
      {% if child_post.status == 1 %}
        <li class="list-group-item">
          <div class="row">
          <div class="col-md-1">
          {% if child_post.featured_img %}
          <img src="/static/{{ child_post.featured_img }}" width="64">
          {% else %}
          <img src="/static/Hauksbee_Generator.jpg" width="64">
          {% endif %}
          </div>
          <div class="col-md-11"><a href="{{ url_for('view_post', post_slug=child_post.slug) }}">{{ child_post.title
          }}</a></div>
          </div>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  </div>
</div>
{% endblock %}
